.section-title {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.stairs-parallax {
  background-image: url('../images/beach/beach-stairs.jpg');
}

.hero-header {
  background-image: url('../images/hotel-pool-from-the-top.jpg');
  display: flex;
  align-items: center;
}

.hero-header h1 {
  color: var(--white);
  font-size: 3.5rem;
  line-height: 4.375rem;
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.hero-header ~ * {
  z-index: 1;
  position: relative;
}

.services,
.catalogue,
.location {
  padding: 80px 16px;
}

.services {
  gap: 80px;
  align-items: center;
}

.services,
.services__items {
  display: flex;
  flex-direction: column;
}

.services__title {
  text-align: center;
  max-width: 768px;
}

.services__items {
  gap: 120px;
}

.services img {
  width: 100%;
  max-width: 480px;
  border-radius: 20px;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__description {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 12px 0;
  justify-content: center;
}

.services__schedule {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.services__schedule p {
  display: flex;
  gap: 8px;
  align-items: center;
}

.book-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../images/beach/beach-view.jpg');
  background-size: cover;
  height: 300px;
  background-position: center;
  gap: 24px;
}

.book-cta h2 {
  color: var(--white);
  text-align: center;
}

.catalogue {
  gap: 80px;
}

.catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogue__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.catalogue__room,
.catalogue__room img {
  max-width: 450px;
}

.catalogue__room {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.catalogue__highlight {
  position: relative;
}

.catalogue__name {
  font-size: 2rem;
  line-height: 2.25rem;
}

.catalogue__price {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--primary);
}

.catalogue__description {
  color: var(--gray-300);
  font-size: 0.75rem;
  line-height: 1rem;
}

.catalogue__stars {
  position: absolute;
  top: 8px;
  right: 8px;
  backdrop-filter: blur(2px);
  background: var(--white);
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.catalogue__stars i {
  width: 16px;
  height: 16px;
  color: var(--primary);
}

.catalogue img {
  border-radius: 20px;
  width: 100%;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.location iframe {
  max-width: 100%;
}

@media (min-width: 768px) {
  .services,
  .catalogue,
  .location {
    padding: 100px 16px;
  }

  .services__items {
    flex-direction: row;
  }

  .services__description {
    padding: 12px 28px;
  }

  .services__item {
    flex-direction: row;
    gap: 16px;
  }

  .catalogue__items {
    flex-direction: row;
  }

  .services__item:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1024px) {
  .services__description {
    padding: 24px 56px;
  }
}
